body {
   background:url(pattern04.png);
   padding-top:100px;      
}
.jumbotron{
background:linear-gradient(135deg, rgba(192,36,37,1) 0%,rgba(240,203,53,1) 100%);

}

#home{
background:linear-gradient(135deg, rgba(192,36,37,1) 0%,rgba(240,203,53,1) 100%);
 color:white;
}

.intro-text{
  font-weight:800;
  line-height:30px;
 
}
#features{
  font-weight:bolder;
  line-height:2em;
}

#testimonial{
background:linear-gradient(135deg, rgba(192,36,37,1) 0%,rgba(240,203,53,1) 100%);
color:white;
padding-top:20px;
margin-top:25px;
}

p {
    font-weight:300;
    line-height:30px;
    padding-bottom:15px;
}


.img-circle{
  border-radius: 70% / 100% 100% 0 0;
  
}
#footer {
    color:#fff;
    padding:10px 50px 20px 50px;
    text-align:right;
}